.layout {
  display: flex;
  flex-direction: column;
  margin: 5vmin 10vmin;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  
}

.top {
  height: 35vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e6823f;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#title {
  font-size: calc(10px + 3vmin);
  font-weight: bold;
  color: #e4e4e4;
  margin: 0 0 20px 0;
}

#error {
  font-size: calc(10px + 1vmin);
  font-weight: 500;
  color: #424242;
}

.submitButton {
  cursor: pointer; 
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  height: 40px;
  width: 120px;
  border-radius: 22px;
  font-size: 2vmin;
  font-weight: 500;
  color: #e4e4e4;
  background: #424242;
  margin: 10px 0;
}



.label {
  font-size: calc(10px + 1vmin);
  color: #e4e4e4;
}

#fileInput {
  display: none;
}

#fileName{
  font-size: calc(10px + 1vmin);
  font-weight: 500;
  color: #e4e4e4;
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
}

#submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  height: 55vmin;
  background: #e4e4e4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
}

#robotDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 300ms width;
}

.none {
  width: 0%;
}

.less {
  width: 35%;
}

.more {
  width: 65%;
}

.full {
  width: 100%;
}

#robotText {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  padding: 0 20px;
  font-weight: 500;
  color: #424242;
}

#robotImgDiv{
  height: 60%;
}

#robotImg {
  height: 80%;
  filter: invert(52%) sepia(70%) saturate(584%) hue-rotate(338deg) brightness(90%) contrast(92%);
}

#dataComponent {
  display: flex;
  transition: 300ms width;
}


